.products-container{
    max-width: 85rem;
    margin: 0 auto;
}

h2{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
}

.product-card{
    background-color: white;
    border: 10px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;

    transition: all 0.5s ease;
}



.product-card:hover{
    transform: scale(1.05);
}

.products-grid{
    max-width: 100%;
    gap: 0.5rem;
    display: flex;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}


.product-name{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1rem;
    font-weight: 100;
}
.add-to-cart{
    width: 100%;
    padding: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    transition: all  0.5 ease;
}

.add-to-cart:hover{
    transform: scale(1.1);
}

.add-to-cart-btn{
    background-color: rgb(102, 197, 197);
    border: none;
    border-radius: 0.7rem;
    padding: 0.3rem;
    cursor: pointer;

    transition: all 0.2s ease;
}

.add-to-cart-btn:hover{
    background-color: rgba(102, 197, 197, 0.863);
}

.product-img img{
    width: 100%;
}

.quantity-input-div {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.btn-plus, .btn-minus {
    width: 1.5rem;
    height: 1.5rem;
    background: rgb(102, 132, 197);
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-plus:hover, .btn-minus:hover {
    background: rgba(102, 132, 197, 0.822);
}

.btn-plus:active, .btn-minus:active {
    transform: scale(0.95);
}

.quantity-input {
    width: 60px;
    height: 1.5rem;
    text-align: center;
    padding: 0;
    border: 1px solid #e2e8f0;
    border-radius: 5px;
    font-size: 14px;
}

/* Hide default arrows */
.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-input {
    -moz-appearance: textfield;
    appearance: textfield;
}


.footer{
    padding-top: 2rem;
}


@media (max-width: 400px){
    .products-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .product-card:hover{
        transform: scale(1);
    }
    
    .add-to-cart-btn:hover{
        background-color: rgb(102, 197, 197);
    }

    .btn-plus:hover, .btn-minus:hover {
        background: rgb(102, 132, 197);
    }

    .btn-plus:active, .btn-minus:active {
        transform: scale(1);
    }
}