<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/_footer.css')}}">
</head>
<body>
    <hr class="hr">
    <footer>
        <h5><a href="/">خانه</a></h5>
        <h5><a href="/products">محصولات</a></h5>
        <h5><a href="/contact">تماس</a></h5>
        <h5><a href="/about">درباره</a></h5>
    </footer><br>
    <p class="copy">&copy; تمامی حقوق محفوظ است.</p>
</body>
</html>