<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>محصولات</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/products.css')}}">
    <script src="{{ url_for('static', filename='js/products.js') }}"></script>
</head>
<body dir="rtl">
    <div dir="ltr">{% include '_header.html' %}</div>
    <div class="products-container">
        <h2>محصولات</h2>
        <hr>
        <div class="products-grid">
            {% for product in products %}
            <div class="product-card">
                <a href="products/product/{{product[0]}}">
                    <div class="product-img">
                        <img src="{{ url_for('static', filename=product[4]) }}" alt="{{ product[1] }}">
                    </div>
                    <div class="product-name">{{ product[1] }}</div>
                </a>
                <div class="product-price">{{ product[2]| price }}</div>
                <form action="{{ url_for('add_to_cart', product_id=product[0]) }}" method="post">
                    <div class="quantity-input-div">
                        <button type="button" class="btn-minus" onclick="decrement(this)">-</button>
                        <input type="number" name="quantity" value="1" min="1" max="{{ product[5] }}" class="quantity-input">
                        <button type="button" class="btn-plus" onclick="increment(this)">+</button>
                    </div>
                    <button type="submit" class="add-to-cart-btn">افزودن به سبد</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="footer">{% include "_footer.html" %}</div>
</body>
</html>